body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #555;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transition: 1s background;
}

img {
  width: 80vw;
  height: 80vh;
  max-width: 80vh;
  max-height: 80vw;
}

@keyframes roll {
  25% { transform: rotate(95deg) }
  50% { transform: rotate(180deg) }
  75% { transform: rotate(-95deg) }
}
