html, body {
	margin: 0;
	color: #555;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: pointer;
	background: #eee;
}
img {
	height: 250px;
	width: 250px;
	position: absolute;
	left: calc(50% - 125px);
	top:  calc(50% - 125px);
}
.a { animation: a 1s }
@keyframes a {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(95deg) }
    50% { transform: rotate(180deg) }
    75% { transform: rotate(-95deg) }
    100% { transform: rotate(0deg) }
}
