html, body {
	margin: 0;
	height: 100%;
	color: #fff;
	transition: background-color 1s;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: pointer;
}
#dice {
	height: 250px;
	width: 250px;
	position: absolute;
	left: calc(50% - 125px);
	top:  calc(50% - 125px);
}
#info {
    padding: 10px;
    border: 1px white solid;
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: center;
}
dv {
    width: 90%;
    border-top: 1px white solid;
    display: inline-block;
    height: 0px;
}
@media screen and (max-height: 400px) { #info { display: none }}
.anim {
    animation-name: anim;
    animation-duration: 1s;
}
@keyframes anim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(95deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(-95deg); }
    100% { transform: rotate(0deg); }
}
